.recherche {
  -fx-background-color: white;
  -fx-border-color: #E5E7EB;
  -fx-background-radius: 8;
  -fx-border-radius: 8;
  -fx-padding: 0 8;
}

.toggle-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 4 8;
    -fx-text-fill: #111827;
}

.toggle-button:hover, .toggle-button:selected {
    -fx-background-color: white;
}


/* VUE-ALERT */

.alert-error {
    -fx-spacing: 10;
    -fx-padding: 4 8;
}

.alert-error-titre {
    -fx-font-family: 'Geist Medium';
    -fx-font-size: 16;
    -fx-text-fill: red;
}

.alert-error-message {
    -fx-font-family: 'Geist Regular';
    -fx-font-size: 14;
    /*-fx-text-fill: red;*/
    -fx-padding: 10 0 0 0;
}

.alert-error {
    -fx-background-color: white;
}

.alert-error .button {
    -fx-font-family: 'Geist Bold';
    -fx-font-size: 14;
    -fx-text-fill: black;

    -fx-alignment: center;
    -fx-padding: 4 8;

    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-border-width: 1px;

    -fx-background-radius: 6;
    -fx-border-radius: 6;

    -fx-cursor: hand;
}

.alert-error .button:hover {
    -fx-background-color: gray;
}